.categories {
	width: 100%;
	padding-top: 30vh;
	padding-bottom: 6em;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
}
.details {
	height: 25vh;
	max-height: 25vh;
	overflow: auto;
	margin-top: 4vh;
	width: 100%;
	padding: 3vh;
	background-color: rgba(58, 180, 77, 0.842);
}
.img {
	width: 10em;
	height: 12em;
	background-position: center;
	background-size: contain;
	background-repeat: no-repeat;
	margin: 4vh;
}
.details::-webkit-scrollbar {
	width: 1.5vh;
}

.details::-webkit-scrollbar-track {
	box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

.details::-webkit-scrollbar-thumb {
	background-color: darkgrey;
	outline: 1px solid slategrey;
}
