.home {
	text-align: center;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
	padding-top: 30vh;
	min-height: 100vh;
}
.product {
	margin: 0.5em;
	/* padding: 1em; */
	box-shadow: 3px 3px 3px rgb(131, 130, 130), 0 0 3px;
	display: flex;
	flex-direction: column;
	width: 60vh;
	justify-content: space-around;
	align-items: center;
}
.details {
	font-size: 2.5vh;
	height: 25vh;
	max-height: 25vh;
	overflow: auto;
	margin-top: 4vh;
	width: 100%;
	padding: 3vh;
	background-color: rgba(58, 180, 77, 0.842);
}
.img {
	width: 10em;
	height: 12em;
	background-position: center;
	background-size: contain;
	background-repeat: no-repeat;
	margin: 4vh;
}
#like {
	border: none;
	cursor: pointer;
}

.details::-webkit-scrollbar {
	width: 1.5vh;
}

.details::-webkit-scrollbar-track {
	box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

.details::-webkit-scrollbar-thumb {
	background-color: darkgrey;
	outline: 1px solid slategrey;
}
@media only screen and (max-width: 800px) {
	.img {
		width: 8em;
		height: 10em;
	}
}
@media only screen and (max-width: 550px) {
	.product {
		width: 90%;
	}
	.img {
		width: 6em;
		height: 8em;
	}
} ;
