.header {
	width: 100%;
	position: fixed;
	top: 0;
	box-shadow: 0px 1px 5px black, 0 0 2px;
}
.top {
	width: 100%;
	background-color: rgb(68, 172, 84);
	/* padding: 1em; */
}
.nav {
	background-color: rgb(68, 172, 84);
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	height: 8vh;
}
.nav-item {
	text-decoration: none;
	color: black;
	font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
	font-size: 1.5em;
}
.navigaition-category {
	z-index: 1;
	width: 100%;
	max-height: 50vh;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}
.category {
	width: 50%;
	border: 1px solid black;
	font-size: 1.2em;
	/* font-weight: bold; */
	background-color: rgb(81, 201, 99);
	cursor: pointer;
	color: black;
	text-decoration: none;
}
.category:hover {
	background-color: rgb(115, 209, 129);
	color: white;
}
.active {
	background-color: rgb(63, 116, 71);
	color: white;
}
.active-item {
	text-decoration: underline;
	font-weight: bold;
}
